services:
  database:
    image: mariadb:latest
    volumes:
      - ./db_data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: wordpress
      MYSQL_DATABASE: ${SAFE_DB_NAME}
      MYSQL_USER: ${SAFE_DB_USER}
      MYSQL_PASSWORD: ${SAFE_DB_PASSWORD}
    command:
      --max_allowed_packet=32505856
      --innodb_use_native_aio=0
    ports:
      - 3308:3306

  wordpress:
    depends_on:
      - database
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "8888:80"
    restart: always
    volumes:
      - ~/.ssh:/home/dev/.ssh
      - "./wordpress:/home/dev/wordpress" #M1 fix nfs not supported
      #- "nfsmount:/home/dev/wordpress"
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: unless-stopped
    environment:
      - PMA_HOST=database
    ports:
      - 9088:80
    links:
      - database

volumes:
  nfsmount:
    driver: local
    driver_opts:
      type: nfs
      o: addr=host.docker.internal,rw,nolock,hard,nointr,nfsvers=3
      device: ":${PWD}/wordpress"
